.background {
  height: 100vh;
}

.table {
  border-radius: 2rem;
}

.new {
  display: flex;
  justify-content: space-between;
}

.previousBtn {
  visibility: hidden;
  /* This keeps the button space but makes it invisible */
}

.previousBtn.visible {
  visibility: visible;
  /* Show the button when needed */
}

/* RESPONSIVENESS */
@media (max-width: 768px) {
  .background {
    height: 100%;
    margin-bottom: 1rem;
  }

  .table {
    width: 100%;
  }

  .table thead {
    display: none;
  }

  .table tbody tr {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .table tbody tr td {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
  }

  .table tbody tr td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
  }

  .table tbody tr td[data-label] {
    flex: 1;
  }
}
